
body {
  background-color: #DFF1DB;
  color: #A3BD9D;
}
button {
  box-sizing: border-box;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-right: 2px solid #A3BD9D;
  color: #A3BD9D;
  padding: 10px;
  height: 50px;
  width: 50px;
}
.deleteButton, .toggleButton {
  position: relative;
  top: -11px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  height: 48px;
  background-color: rgba(0, 0, 0, 0);
  float: right;
}
input {
  color: #A3BD9D;
  font-size: 14px;
  box-sizing: border-box;
  height: 50px;
  border-radius: 0;
  border: 2px solid #A3BD9D;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 380px;
}
#addTaskTextInput, #addButton {
  float: left;
}
input[type='number'] {
  width: 50px;
}
.top {
/*   float: left; */
  margin-top: 150px;
  width: 500px;
  height: 50px;
}
input:focus {
  outline: none;
}
ul {
  width: 500px;
  position: relative;
  right: 40px;
}
li {
  list-style-type: none;
  font-family: sans-serif;
  box-sizing: border-box;
  height: 50px;
  border-radius: 0;
  border: 2px solid #A3BD9D;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0 10px 10px;
}
.container {
  margin: 0 auto;
  width: 500px;
}
