
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Original Code*/
@media only screen and (min-width: 320px) {
	body {
		margin: 0;
		font-family: 'Lato', sans-serif;
	}
	.navbar {
		box-shadow: 0 2px 9px #000;
		height: 60px;
		position: fixed;
		top: 0;
		width: 100%;
		background: linear-gradient(to bottom, #cccccc 0%,#eeeeee 60%,#efefef 100%);
	}
	.navbar li {
		display: inline;
		padding: 0 20px;
	}
	.navbar a {
		text-decoration: none;
		color: #000;
	}
	.navbar ul {
		margin: 20px 20px;
		padding-left: 12%;
	}
	.container {
		height: 300px;
		background-image: url('https://thumbs.dreamstime.com/b/vector-seamless-pattern-modern-line-geometric-background-texture-lines-grid-rhombus-nodes-63440786.jpg');
		width: 100%;
		margin-top: 60px;
		border-top: 4px solid #000;
		border-bottom: 4px solid #000;
	}
	.main {
		width: 100%;
		height: 300px;
		display: inline-block;
		box-sizing: border-box;
		background: #a90329; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 44%,#6d0019 100%);
		border-left: 4px solid #000;
		border-right: 4px solid #000;
		color: #fff;
		text-align: center;
		font-weight: 100;
		text-shadow: 1px 1px 3px #000;
	}
	.heading h1 {
		font-size: 50px;
		margin: 30px;
	}
	.heading h3 {
		font-size: 20px;
		margin: 20px;
	}
	.headshot img {
		margin-top: 20px;
		height: 100px;
		border-radius: 50%;
		border: 1px solid #000;
	}
	.skills-list {
		margin: 20px;
	}
	.skills-list h4 {
		font-weight: bold;/* REVIEW: Change font weight */
		text-decoration: underline;
	}
	.skill {
		font-size: 16px;
		display: inline-block;
	}
	.bio {
		padding: 40px;
		border-bottom: 4px solid #000;
	}
	.projects {
		position: relative;
		top: 60px;
		padding: 40px;
	}
	.projects p {
		text-align: center;
	}
}
@media only screen and (min-width: 480px) {
	.container {
		height: 390px;
	}
	.navbar ul {
		float: right;
	}
	.main {
		margin-left: 28%;
		width: 45%;
		min-width: 280px;
		height: 390px;
	}
}
@media only screen and (min-width: 812px) {
	.heading {
		margin: 40px 0;
	}
	.heading h3 {
		margin-top: 30px;
	}
	.headshot img {
		height: 130px;
	}
	.skills-list {
		margin: 40px;
	}
	.bio {
		padding: 40px 120px;
	}
}
@media only screen and (min-width: 1024px) {
.heading {
	font-size: 38px;
}
}
/*.heading h1 {
	font-size: 64px;
	margin-bottom: 70px;
}
.bio {
	background-color: #efefef;
	border-bottom: 4px solid #000;
	height: 390px;
	position: relative;
	top: 60px;
}
.bio p {
	color: #000;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1000px;
	text-align: justify;
	padding: 50px 0;
}
.projects {
	background-color: #efefef;
	height: 390px;
	position: relative;
	top: 60px;
}
.projects p {
	text-align: center;
	color: #000;
	font-size: 30px;
	font-weight: 100;
	padding: 20px;
}*/
